<head>
    <!--Please keep the two meta tags below at the top to ensure proper document rendering-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Meta setup -->
    {{ $author := .Site.Params.author }}
    {{ $about := .Site.Params.about }}
    <meta name="application-name" content="{{ $author }}" />
    <meta name="theme-color" content="#E4EBF5" />
    <meta name="description" content="{{ $about }}" />
    <meta name="keywords" content="{{ $author }}, Portfolio, Blogs, Projects" />
    <meta name="author" content="{{ $author }}" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <link rel="icon" href="/favicon.ico" />

    <!-- Adding Style Sheets -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet"> 
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- Configuring Title -->
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>