{{ define "main" }}

<style>
  #main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #main-container > h1, h5 {
    margin: 0px;
    text-align: center;
  }
</style>
<!-- Main landing section -->
<div class="container-wrapper" id="main-container">
  <h1>{{ .Site.Params.author }}</h1>
  <h5>{{ .Site.Params.shortAbout }}</h5>
</div>

<!-- About me section -->
<div class="short-container-wrapper">
  <div class="row">
    <div class="col l6 offset-l3 s12">
      <h4>About Me</h4>
      <p>
        {{ .Site.Params.about }}
      </p>
    </div>
  </div>
</div>

<!-- All other sections defined in Param.homeSection -->
{{ with .Site.Params.homeSections }}
  {{ range . }}
    {{ if (eq .type "chip") }}
      <div class="short-container-wrapper" id="what-section">
        {{ partial "chipSection.html" . }}
      </div>
    {{ else if (eq .type "para") }}
      <div class="short-container-wrapper">
        {{ partial "paraSection.html" . }}
      </div>
    {{ end }}
  {{ end }}
{{ end }}

{{ end }}